.bg-verdeClaro{
    background-color: #f5f9fc;
}
.navbar-verde{
    background-color: #e5fae9;
}
.bg-verde-card{
    background-color: #27a844;
}
.bg-reptiles{
    background-color: #e5fae9;
}
.bg-tabla{
    background-color: #d8eddc;
}
.custom-modal .btn-verde{
    background-color: #27a844;
}
.border-verde{
    background-color: #f5f9fc;
}